{% extends "base.html" %}

{% block title %}
Sign In
{% endblock %}

{% block content %}
<h1 class="title is-1">Sign In</h1>

<form class="box" method="POST">
    {% csrf_token %}
    {% if error %}
    <div class="notification is-danger">
        {{error}}
    </div>
    {% endif %}
    <div class="field">
        <img class="rounded-circle"
            src="https://img.freepik.com/vector-premium/hombre-sostiene-globo-su-mano-lo-senala-dedo-concepto-educacion-maestro-conquista-mundial-ecologia-ilustracion-plana-vectorial_531064-4168.jpg?w=2000"
            alt="" width="72" height="72">

        <label for="id_username" class="label mt-4">Username</label>
        <div class="control">
            {{form.username}}
        </div>

        <label for="id_password1" class="label mt-4">Password</label>
        <div class="control">
            {{form.password}}
        </div>

        <div class="control mt-4">
            <input type="submit" class="button is-link" />
        </div>
    </div>
</form>
{% endblock %}